.devProfile{
    display: grid;
    grid-template-columns: 28.125rem auto;
    gap: 4.375rem;
}

aside{
    position: sticky;
    top: 0;
    background-color: #3B4252;
    height: 100vh;
    padding-left: 1.563rem;
    display: flex;
    flex-direction: column;
    color: #ECEFF4;
}

.devAvatar{
    display: flex;
    justify-content: center;
    margin: 3.75rem 0 2.063rem;
}

.devAvatar img{
    width: 18.625rem;
    height: 18.625rem;
}

.devName{
    color: #ECEFF4;
    font-style: italic;
    line-height: 3.125rem;
    font-size: 2.5rem;
}

.userName{
    color: #ECEFF4;
    font-size: 1.75rem;
    line-height: 2.125rem;
}

.profileInformation{
    color: #8190A5;
    font-size: 1.125rem;
    line-height: 2.125rem;
    margin: 1.438rem 1.563rem 0 0;
}

.socialInfo ul{
    display: inline-flex;
    list-style: none;
    gap: 0.625rem;
    margin-right: 1.563rem;
}

.socialInfo ul li{
    font-style: italic;
    font-size: 1.25rem;
    line-height: 1.625rem;
    display: flex;
    align-items: center;
    gap: 0.125rem;
}

.devInfo ul{
    margin-top: 2.375rem;
    list-style: none;
}

.devInfo ul li{
    font-size: 1.75rem;
    line-height: 2.125rem;
    font-style: italic;
    margin-bottom: 1.063rem;
    display: flex;
    align-items: center;
    gap: 0.875rem;
}

.buttonBack{
    display: flex;
    justify-content: center;
}

.buttonBack button{
    width: 12rem;
    height: 3.125rem;
    background-color: #ECEFF4;
    border-radius: 5px;
    font-size: 1.125rem;
    font-style: italic;
    border: none;
    cursor: pointer;
}

.buttonBack button a{
    text-decoration: none;
    color: #3B4252;
}

main{
    margin: 1.875rem 4.375rem 0 0;
}

@media (max-width: 575px){
    .devProfile{
        grid-template-columns: auto;
        gap: 0;
    }

    aside{
        position: inherit;
        height: 100%;
        padding-left: 1.563rem;
        padding-bottom: 1.563rem;
    }
}